/* src/css/DisplayState.css */

p {
    display: inline-block;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

button.delete, button.edit {
    width: auto;
    flex: 1;
    margin: 0;
}

button.delete {
    margin-right: 10px;
}

