/* EditingState.css */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-wrapper {
    position: relative;
}

textarea {
    padding: 10px 10px 10px 10px; /* top/right/bottom/left */
    font-size: 1.5rem;
    line-height: 1.5;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #f0f0f0;
}

button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

button.save, button.cancel {
    width: auto;
    flex: 1;
    margin: 0;
}

button.save {
    margin-right: 10px;
}