/* NoteForm.css */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
}

.note-form {
    margin-bottom: 20px;
}

input {
    padding: 10px 10px 10px 10px; /* top/right/bottom/left */
    font-size: 1.5rem;
    line-height: 1.5;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

button {
    margin-top: 1rem;
    padding: 10px;
    font-size: 1.5rem;
}
 
button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

